
/* General */

body {
  margin: 0;
  color: #646363;
  font-family: 'Ubuntu', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Typography */

h1,
h2,
p,
.subtitle {
  font-family: 'Lora', serif;
  margin: 0;
}

h1 {
  color: #1792D2;
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  color: #143774;
  font-size: 0.75rem;
  font-weight: bold;
}

h2 {
  color: #1792D2;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #1792D2;
}

/* Layout */

header {
  color: rgb(243, 241, 241);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* header */

.container-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 0;


}

nav {
  margin: 2em 0;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  margin: 1em 0;
}

nav a {
  color: #717171;
}

/* post */

.post {
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.post-featured {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #707070;
}

.post-normal {

}

.post-image {
  min-height: 500px;
  object-fit: cover;
  margin-bottom: 1.5em;
}

.post-featured-image {
  order: -2;
}

.image-left {
  object-position: left;
}

.post-normal-image {

}

.post-info {
  order: -1;
}

.post-title {
  margin: 0.5em 0;
}

.post-body {
  margin-bottom: 1.5em;
}

.post-body a {
  text-decoration: underline;
}

.post-read-more {
  color: #143774;
  font-weight: 700;
}




