
/* General */

body {
  margin: 0;
  color: #646363;
  font-family: 'Ubuntu', sans-serif;
}
p {
  margin: 0;
}
img {
  width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Typography */

h1,
h2,
h3,
.subtitle {
  font-family: 'Lora', serif;
  margin: 0;
}

h1 {
  color: #1792D2;
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  color: #143774;
  font-size: 0.75rem;
  font-weight: bold;
}

h2 {
  color: #1792D2;
  font-size: 1.5rem;
}

h3 {
  color: #1792D2;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #1792D2;
}

a:hover,
a:focus {
  color: #143774;
}

/* Layout */

header {
  background-color: #F8F8F8;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  .container-body {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
  }

  main {
    width: 70%;
  }

  aside {
    width: 25%;
  }
}

/* header */

.container-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3em 0;
}

nav {
  margin-top: 2em;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li {
  margin: 1em 0;
}

nav a {
  color: #717171;
}

@media (min-width:744px) {
  .container-nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    margin-top: 0;
  }
  nav ul {
    flex-direction: row;
  }

  nav li {
    margin-left: 1em;
  }
}

/* post */

.post {
  padding-bottom: 2em;
}

.post-featured {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #707070;
}

.post-normal {

}

.post-image {
  margin-top: 2em;
  object-fit: cover;
  min-height: 200px;
  margin-bottom: 1.5em;
}

.post-featured-image {
  order: -2;
}

.post-normal-image {

}

.image-left {
  object-position: left;
}

.post-info {
  order: -1;
}

.post-title {
  margin: 0.5em 0;
}

.post-body {
  margin-bottom: 1.5em;
}

.post-body a {
  text-decoration: underline;
}

.post-read-more {
  color: #143774;
  font-weight: 700;
}

@media (min-width:1000px) {
  .post-normal {
    display: flex;
    justify-content: space-between;
  }

  .post-normal-content {
    width: 40%;
  }
  .post-normal-main {
    width: 58%;
  }

  .post-normal-image {
    margin-top: 1em;
  }
}

/* widget */

.widget-post {
  border: 20px solid #EBEBEB;
  padding: 1em 1em;
  margin-bottom: 2em;
}

.widget-title {
  margin-bottom: 1em;
}

.widget-image {
  height: 120px;
  object-fit: cover;
  margin-bottom: 0.5em;
}

.widget-body {
  color: #143774;
  font-size: 0.75rem;
}

.widget-post-recent {
  border-bottom: 2px solid #EBEBEB;
  margin-bottom: 2em;
}

.widget-post-recent:last-child {
  border: none;
}

.widget-recent-image {
  height: 120px;
  object-fit: cover;    
  margin-bottom: .5em;

}

.widget-recent-subtitle {
  margin-bottom: 1.5em;
}

/* footer */

footer {
  background-color: #143774;
  text-align: center;
  color: white; 
  padding: 2.5em 0;
}

.footer-title {
  margin-top: 1em;
  font-weight: 700;
}

/* about me */
.about-main {
  margin: 3em 0;
}
.about-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 2em;
}

.about-subtitle {
  margin-bottom: 1em;
}

.about-main li {
  margin-bottom: 0.25em;
}

.about-main li:last-child {
  margin-bottom: 0.75em;
}

@media (min-width: 900px) {
  .about-main {
    margin-top: 0;
  }
}

